body {
    background-color: rgb(9, 88, 101);
}

.App {
    text-align: center;
    color: white;
}

.tittle {
    font-size: 2.5rem;
}

.citySerch {
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    font-weight: bolder;
    border: 2px solid darkcyan;
}

.daily-weather-container {
    display: flex;
}

.daily-weather {
    width: 30%;
    padding: 1rem;
    border-right: 1px solid green;

}

.daily-weather:last-child {
    border-right: none;
    /* Son tablo hariç diğer tüm tablolara sağ tarafta çizgi ekle */
}

.contain{
    margin: 5rem;
}